[client]
port = 3306
socket = {{ mysql_socket }}

[mysqld]
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = {{ mysql_socket }}
port = 3306
basedir = /usr
datadir = {{ mysql_datadir }}
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking

bind-address = 127.0.0.1

key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
myisam-recover-options = BACKUP
query_cache_limit = 1M
query_cache_size = 16M

log_error = {{ mysql_log_error }}

[mysql_safe]
log_error = {{ mysql_log_error }}
pid-file = {{ mysql_pid_file }}